@using (Html.BeginForm("Help", "Help", FormMethod.Get))
{
    <h2>Help</h2>


    <br />
    <textarea name="info"></textarea>
    <br />
    <input type="submit" value="Send" class="btn btn-default" />
}